/* Variable definition */
:root {
  /* Fonts */
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  /* Colors */
  /* Background colors */
  --bg-light: #f6f6fe;
  --bg-primary: #4b32c3;
  --bg-dark: #101828;

  /* Fonts */
  --text-white: #ffffff;
  --text-light-gray: #d0d5dd;
  --text-light-purple: #b7b7ff;
  --text-gray: #9d9d9d;
  --text-blue: #088cdb;
  --text-dark-gray: #505050;
  --text-primary: #4b32c3;
  /* Fill colors */
  --fill-white: #ffffff;
  --fill-light-gray: #d0d5dd;
  --fill-light-purple: #b7b7ff;
  --fill-dark-blue: #1d2939;
  --fill-black: #000000;
  /* Border */
  --border-light-purple: #b7b7ff;
  --border-gray: #667085;
  --border-dark-gray: #475467;

  /* Variables de elementos del sistema */
  --header-heigth: 60px;
}
/* Default elements */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
p,
a,
summary {
  font-family: "Public Sans", sans-serif;
  text-wrap: balance;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  color: var(--text-white);
  margin: 0;
  margin-bottom: 0.5em;
  line-height: 1;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  color: var(--text-white);
  line-height: 1;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

p {
  margin: 0 0 1.5em;
  color: var(--text-light-gray);
  font-size: 1em;
  text-wrap: pretty;
}

code {
  padding-left: 3.5em !important;
  width: 100%;
}

ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

pre {
  margin: 0;
  position: relative;
  display: flex;
}

aside {
  height: 100%;
  width: 200px;
  background-color: var(--bg-dark);
  overflow-x: hidden;
  padding: 2em 1em 1em 1em;
  border-left: 2px solid var(--border-dark-gray);
  flex-shrink: 0;
  flex-grow: 0;
}

/* Layout */
body {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.site-header {
  color: #ffff;
  border-bottom: 2px solid var(--border-dark-gray);
  background-color: var(--bg-dark);
  width: 100%;
  height: var(--header-heigth);
  position: sticky;
  top: 0;
  padding: 1rem;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: calc(100vh - var(--header-heigth));
}
.sidenav-left {
  background-color: var(--bg-dark);
  overflow-x: hidden;
  padding: 2em 1em 1em 1em;
  border-right: 2px solid var(--border-dark-gray);
  grid-column: 1;
  grid-row: 2;
  width: 250px;
}
.content {
  background-color: var(--bg-dark);
  padding: 2em 4em 0em 4em;
  scrollbar-width: thin;
  scrollbar-color: var(--fill-white) var(--bg-dark);
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.sidenav-rigth {
  grid-column: 3;
  grid-row: 2;
  width: 250px;
}

/* Nav styles */
.nav_item,
.multiple_items {
  display: block;
  text-decoration: none;
  color: var(--text-white);
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: 500;
  transition: background-color ease-in-out 100ms;
}

.nav_item:hover,
.multiple_items:hover {
  background-color: var(--fill-dark-blue);
  color: var(--text-light-purple);
  cursor: pointer;
}

.multiple_items svg {
  width: 1em;
  margin-left: auto;
}
.multiple_items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.child_list {
  margin-left: 6px;
}

details > .container_child_list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

/* Estilo cuando el <details> está abierto */
details[open] > .container_child_list {
  max-height: 120px;
}
summary .nav_item_icon {
  transition: transform 0.3s ease;
}

details[open] summary .nav_item_icon {
  transform: rotate(180deg); /* Rota el icono 180 grados */
}

.nav_item:target {
  background-color: var(--border-dark-gray);
}

.active {
  background-color: var(--fill-dark-blue);
  color: var(--text-light-purple);
}

.codigo-container {
  border-radius: 0.5em;
  overflow: hidden;
  margin-bottom: 2em;
}

#lista {
  position: absolute;
  top: 0;
  color: var(--text-white);
  padding-top: 1em;
  left: 24px;
}
