:root {
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none; /* Quita los puntos de la lista */
  margin: 0px;
  padding: 0px;
  display: block;
}

body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidenav {
  height: 100%;
  width: 200px;
  z-index: 1;
  background-color: #101828;
  overflow-x: hidden;
  padding: 1em;
  border-right: 2px solid #475467;
}

.main {
  /* margin-left: 200px; */
  background-color: #101828;
  flex-grow: 1;
}

.nav_item {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  font-size: 14px;
  font-weight: 500;
}

.nav_item:active {
  background-color: red;
}

.nav_item:hover {
  background-color: #1d2939;
  color: #b7b7ff;
  cursor: pointer;
}

.multiple_items svg {
  width: 14px;
  margin-left: auto;
}
.multiple_items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.child_list {
  margin-left: 6px;
}

details > .container_child_list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

/* Estilo cuando el <details> está abierto */
details[open] > .container_child_list {
  max-height: 105px;
}
summary .nav_item_icon {
  transition: transform 0.3s ease;
}

details[open] summary .nav_item_icon {
  transform: rotate(180deg); /* Rota el icono 180 grados */
}

.nav_item:target{
  background-color: #475467;
}